* {
    background-color: #494949;
}

.grid-container {
    display: grid;
    grid-template-columns: auto auto auto auto auto auto auto;
    justify-content: center;
    margin: auto;
    

}

#dayButton {
    width: 25px;
    height: 25px;
    background-color: rgb(152, 111, 55);
    border: 1px solid;
    border-radius: 25%;
    margin: 1px;
    
}

.habit-check {
    margin: auto;
}

.habits {
    display: grid;
    grid-template-columns: auto auto;
    justify-content: center;

}


.habit-input {
    background-color: rgb(255, 249, 241);
    border: 1.5px solid;
    border-radius: 10px;
    height: 25px;
    padding: 5px;
}