.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #333333;
    color: #fff;
    padding: 1rem;
}


.navbar-options {
    list-style-type: none;
    display: flex;
    margin: 0;
    padding: 0;
    
}

.navbar-options li {
    margin-right: 1rem;
}

.welcome {
    background-color: none;
}